setuptools>=64
wheel
pip>=23.0
black
ruff
pre-commit
pytest
pytest-cov
notebook
ipykernel
build
numpy>=1.23
pyroomacoustics==0.7.1
jupyterlab
ipython
ipywidgets           # for interactive scroll_plot
nbformat
nbclient                # code formatting
mypy                 # static typing
flake8               # linting
librosa>=0.8.0       # optional audio analysis
scipy
matplotlib
pandas
h5py
soundfile
click
mne